.file-selection {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./assets/rose.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  padding-top: 100px;
  font-size: 1.2rem;
}

.file-selection ol {
  padding-right: 40px;
}

.file-selection li {
  padding-bottom: 15px;
}

.file-selection .title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.file-selection a {
  text-decoration: underline;
}

.file-selection .hiro .marker {
  text-align: center;
}

.file-selection .btn-file-input {
  margin-top: 15px;
}

.file-selection .hiro .marker img {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
  border: 5px solid white;
}

.file-selection .file-input {
    display: none;
}
