.gallery-container {
    position: relative;
    height: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
