
.tips {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
}

.tips .item {
    display: flex;
    align-items: center;
}

@media (orientation: landscape) {
    .tips {
        flex-direction: row;
    }

    .tips .item {
        flex-direction: column;
    }
}

.tips .item .text {
    margin-left: 1rem;
}

.MarkerSearchContainer {
    position: absolute;
    bottom: 5rem;
    left: 0rem;
    right: 0rem;
    text-align: center;
    padding: auto auto;
}

.MarkerSearch {
    display: inline-block;
    color: red;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    max-width: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}


.MarkerSearch img {
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
}

.backButton {
    z-index: 1000;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
